
.box {
    float: left;
    display: block;
    width: 160px;
    height: 160px;
    border: 1px solid gray;
    margin: 15px 15px 0 0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.line1 {

    display: table;
    
}
.line2 {
    display: table;
}
.line3 {
    display: table;
}
img {
    width: 160px;
    height: 160px;
    opacity: 0.8;
}

#game {
    width: fit-content;
    margin: 60px auto;
    position: relative;
    
}

body {
    margin: 0 auto;
}
h1 {
    color:#d8d8db; 
}
h3 {
    padding: 0 0 0 50px; 
}
#buttton-hero{
  margin-right: 5px;
}
#button-thanos {
  margin-left: 20px;
}
#myBtn {
    padding: 5px;
    margin-left: 15px;
}

 
label {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #a6a0b2;

}
select,button {
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    font-size: 0.9rem;
    padding: 0.4em 1.8em 0.4em 0.5em;
    background: #c21d2c;
    color: #e8e4ef;
    border: 0;
    
}
  #thanos {
    color: #f5f4f9;
  }
  #hero {
    color:#f5f4f9;
  }


  .custom-arrow{
    position: absolute;
    top:-0.2em;
    right:0.25em;
    
    display: block;
    background: #881720;
    height: 138%;
    width: 2rem;
    pointer-events: none;
  }

  .custom-arrow::before,
  .custom-arrow::after {
    --size: 0.4em;
    content: '';
    position: absolute;
    width:0;
    height:0;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }
  
  .custom-arrow::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #ffffff;
    top: 55%;
    opacity: 0.5;
  }

  .top-container {
    text-align: center;
    background-color:#c21d2c;
    opacity: 0.75;
    padding: 1px;
  
  }

  #Captain-hidding, #IronMan-hidding, #SpiderMan-hidding, #TCaptain-hidding, #TIronMan-hidding, #TSpiderMan-hidding{
    position: absolute;
    display: flex;
    top: 47px;
    left: -120px;
    width: 762px;
    height: 530px;
    opacity: 1;
    visibility: hidden;
  }

  #spiderman-heading {
    position: absolute;
    top: 4px;
    left: -118px;
    width: 300px;
    height: 310px;
    opacity: 1;
  }

 
 
  video {
    position: absolute;
    top: 0;
    z-index: -10;
    min-width: 100%;
    min-height: 100%;
  
  }
  .turn {
    font-family: 'Open Sans', sans-serif;
    color:#a6a0b2;
  }
  
  h2 {
    display:inline-block;
    color:#ffffff;
    
  }
  .line1{
    position: relative;
  }
  